/Debug/
*.gdbhistory
*.o
*.a
*.lo
*.la
*~
*.gdb_history
*peda-session-snort.txt
*dump.bin
server/src/snort
server/src/detection-plugins/*
server/src/dynamic-plugins/sf_engine/*
server/src/dynamic-preprocessors/*
server/src/dynamic-output/*
autom4te.cache/
server/src/preprocessors/*
server/src/target-based/*
server/tools/*