/Debug/
*.gdbhistory
*.o
*.a
*.lo
*.la
*~
*.gdb_history
*peda-session-snort.txt
*dump.bin
src/snort
src/detection-plugins/*
src/dynamic-plugins/sf_engine/*
src/dynamic-preprocessors/*
src/dynamic-output/*
autom4te.cache/
src/preprocessors/*
src/target-based/*
tools/*